<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmfz.dao.ManagerDao">


	<!-- 注册 -->
	<insert id="insert" parameterType="manager" >
		insert into f_manager values(#{id},#{name},#{password},#{salt},#{phone})
	</insert>

	<!-- 根据用户名查询 -->
	<select id="selectById" parameterType="string">
		select id,name,password,salt,phone from f_manager where name=#{name}
	</select>

	<!--查询所有-->
	<select id="selectAll" resultType="manager">
		select id,name,password,salt,phone from f_manager
	</select>


</mapper>
