<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">

	<!-- e_user表所有字段名 -->
	<sql id="usercommon">
		id,username,realname,password,sex,salt
	</sql>
	
	<!-- 添加数据 -->
	<insert id="insert" parameterType="user" >
		insert into e_user values(#{id},#{username},#{realname},#{password},#{sex},#{salt})
	</insert>
	<!-- 查询数据 -->
	<select id="selectByName" parameterType="string" resultType="user">
		select <include refid="usercommon"/> from e_user where username=#{username}
	</select>



</mapper>
